[submodule "Essay/Essay/emnnist"]
	path = Essay/Essay/emnnist
	url = https://github.com/aurelienduarte/emnist.git
[submodule "Essay/emnnist"]
	path = Essay/emnnist
	url = https://github.com/aurelienduarte/emnist.git
[submodule "Essay/omniglot"]
	path = Essay/omniglot
	url = https://github.com/brendenlake/omniglot.git
[submodule "Essay/python/DBN_master"]
	path = Essay/python/DBN_master
	url = https://github.com/flavio2018/Deep-Belief-Network-pytorch.git
